<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        colors="true"
        bootstrap="../../vendor/autoload.php"
>
    <testsuites>
        <testsuite name="unit">
            <directory>Tests/Unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>Tests/Functional</directory>
        </testsuite>
        <testsuite name="all">
            <directory>Tests/Unit</directory>
            <directory>Tests/Functional</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="KERNEL_DIR" value="../../app"/>
        <server name="KERNEL_CLASS" value="AppKernel"/>
        <const name="MAUTIC_ENV" value="test"/>
        <server name="DB_PASSWORD" value="123456"/>
        <const name="DB_PASSWORD" value="123456"/>
        <env name="DB_PASSWORD" value="123456"/>
    </php>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory>Config</directory>
            <directory>Tests</directory>
            <directory>vendor</directory>
        </exclude>
    </coverage>

</phpunit>